body {
    background-color: rgb(187, 135, 236);
}

.cabecalho {
    background-color: rgb(138, 79, 187);


    #titulo {
        color: rgb(0, 0, 0);
    }
}

p {}

.imgcentro {}

nav {}

li {
    display: inline-block;


}

li a {
    font-size: 50px;

}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}