body {
    background-color: rgb(187, 135, 236);
}

.cabecalho {
    background-color: rgb(138, 79, 187);
     padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;


    #titulo {
        color: rgb(0, 0, 0);
    
    }

    .ul {
        color: black;
    }
}

p {}

.imgcentro {
    width: 190px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: inline-block;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

nav {}

li {
    display: inline-block;


}

li a {
    font-size: 30px;

}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}

.rodape {
    background-color: rgb(138, 79, 187);
    color: black;
    text-align: center;
    padding: 15px ;
    margin-top: 15px;
    font-size: 15px;
}